.aes-floating-window
{
	position: fixed;

	/* background: #fff; */

	box-shadow: 3px 3px 14px 1px #000000;

	white-space: nowrap;

	resize: both;

	overflow: auto;
}

.aes-floating-window .aes-floating-window-title-bar
{
	display: block;

	height: 30px;
	width: 100%;

	background: rgb(153, 0, 0);
	color: #ffffff;

	/* TODO: This style should maybe be applied with JS instead because of archive skins */
	background-image: url("https://archiveofourown.org/images/skins/textures/tiles/red-ao3.png"); 

	box-shadow: rgba(0, 0, 0, 0.35) 0px -6px 10px inset, rgba(0, 0, 0, 0.25) 1px 1px 3px -1px, rgba(0, 0, 0, 0.85) 0px -1px 0px inset;

	line-height: 30px; 
	padding-left: 10px; 
	box-sizing: border-box;

	overflow: hidden;
	text-overflow: clip;

	cursor: grab;
}

.aes-floating-window .aes-floating-window-controls
{
	float: right;
}

.aes-floating-window .aes-floating-window-control
{
	width: 28px;
	height: 28px;

	text-align: center;

	float: right;

	margin: 1px;
}

.aes-floating-window .aes-floating-window-control a
{
	color: #ffffff;
}

.aes-floating-window .aes-floating-window-control:hover
{
	background: #ff0000;

	cursor: default;
}

.aes-floating-window .aes-floating-window-control a
{
	border: none;

	cursor: default;
}

.aes-floating-window .aes-floating-window-control a:hover
{
	color: inherit;
}