/* General */
.aes-hidden
{
	display: none;
}

.aes-small
{
	font-size: 50%;
}

.aes-modal .aes-control-set li
{
	display: inline;
	list-style-type: none;
}

/* Nav Settings */
#aes-settings footer
{
	text-align: center;
	padding: 10px;
}

#aes-settings input
{
	width: auto;
}
