/* General */
.aes-hidden
{
	display: none !important;
}

.aes-small
{
	font-size: 50%;
}

.aes-modal .aes-control-set li
{
	display: inline;
	list-style-type: none;
}

/* Nav Settings */
#aes-settings footer
{
	text-align: center;
	padding: 10px;
}

#aes-settings input
{
	width: auto;
}

.aes-dropdown-menu
{
	width: auto !important;
	min-width: 20em;
}

/* Hidden Authors & Works */
.aes-hidden-work-controls
{
	display: inline;
}

.aes-hidden-work-controls h4
{
	display: inline;
	line-height: 36px;
	font-style: italic;
}

.aes-hidden-tag
{
	text-decoration: line-through !important;
}