/* General */
.aes-cb .aes-cb-actions
{
	float: none;
	text-align: left;
}

.aes-cb .aes-footnote-offset
{
	padding-top: 35px;
}

/* Floating Comment Box */
.aes-fcb-window
{
	resize: none;
}

.aes-fcb-window:focus-within
{
	opacity: 1 !important;
}

.aes-fcb-window textarea
{
	min-width: 300px;
	max-width: 90vw;

	width: 500px;
}

.aes-fcb-window .LV_validation_message
{
	/* HACK: Hide the "Brevity is the soul of wit" message because it's a bit glitchy with this atm */
	display: none;
}

.aes-fcb-window .aes-fcb-recommendation
{
	display: none;
}