body
{
	padding: 20px;
}

#settings
{
	min-width: 350px;
}

.setting
{
	padding: 2px;
}

.setting label
{
	padding-left: 5px;
}

footer
{
	border-top: 1px solid #000;
	margin-top: 20px;
	padding-top: 20px;
	text-align: center;
}